@model FastTowAssignment.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="@Model.Car" class="control-label"></label>
                <input asp-for="@Model.Car" class="form-control" />
                <span asp-validation-for="@Model.Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" type="number" step=20 min=100 />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>