@{
    ViewData["Title"] = "ListItemsAsGallery";
}

<h1>List Items As Gallery</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>

<br />
<br />
<br />

<ul>
    @foreach (var item in Model)
    {
        string[] imgArray = item.Split("#");

    <li>
        <img src="@imgArray[1]" width="auto" height="300px" />
        <label style="color:red">@imgArray[0]</label>
        <a asp-route-imagename="@imgArray[0]" asp-route-urlimage="@imgArray[1]" asp-action="DownloadBlob">Download</a>
        <a asp-area="@imgArray[0]" asp-action="DeleteBlob">Delete</a>
    </li>
    }
</ul>

@if (ViewBag.msg != null)
{
    <script>alert("@ViewBag.msg");</script>
}